header {
  font-family: "Essays 1743", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
  font-size: 60px;
  text-align: center;
  height: 70px;
  line-height: 70px;
  background: #fff;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
*:not(input,textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
body {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #333;
  -webkit-touch-callout: none ;
  -webkit-user-select: none ;
}
a {
  color: #5b6add;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  text-decoration: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}
textarea,
input {
  resize: none;
  outline: none;
}
textarea {
  resize: none;
  -webkit-appearance: none;
}
ul,
ol {
  list-style: none;
}
em {
  font-style: normal;
}
.hide {
  display: none!important;
}
.Clear {
  float: none!important;
}
.Fix:after {
  display: block;
  content: '\20';
  height: 0;
  clear: both;
}
.Fix {
  zoom: 1;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.Left {
  float: left!important;
}
.Right {
  float: right!important;
}
.hide {
  display: none !important;
}
.M_page {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.M_page_transform {
  -webkit-transform: translate(100%, 0);
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
.Loading {
  width: 120px;
  height: 80px;
  background-size: 24px 24px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -60px;
  border-radius: 5px;
  z-index: 9999999;
}
.Loading i {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  -webkit-animation: loading 1s infinite linear;
  background: url(img/loading.png) 0 0 no-repeat;
  background-size: 20px 20px;
}
.J_content {
  position: absolute;
  top: 70px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.J_content .indexlist {
  padding: 10px;
  box-sizing: border-box;
}
.J_content .indexlist li {
  border: solid 1px #dbdbdb;
  border-radius: 4px;
  margin-bottom: 10px;
  position: relative;
}
.J_content .indexlist li a {
  height: 40px;
  padding-left: 50px;
  display: block;
  line-height: 40px;
}
.J_content .indexlist li a:active {
  background-color: #08c;
}
.J_content .indexlist .arrow-ent {
  right: 15px;
  top: 15px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  width: 8px;
  height: 8px;
  position: absolute;
  border-right: 2px solid #88837d;
  border-bottom: 2px solid #88837d;
  cursor: pointer;
}
