* {
  margin: 0;
  padding: 0;
  outline: none;
}
*:not(input,textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
body {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #333;
  -webkit-touch-callout: none ;
  -webkit-user-select: none ;
}
a {
  color: #5b6add;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  text-decoration: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}
textarea,
input {
  resize: none;
  outline: none;
}
textarea {
  resize: none;
  -webkit-appearance: none;
}
ul,
ol {
  list-style: none;
}
em {
  font-style: normal;
}
.hide {
  display: none!important;
}
.Clear {
  float: none!important;
}
.Fix:after {
  display: block;
  content: '\20';
  height: 0;
  clear: both;
}
.Fix {
  zoom: 1;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.Right {
  float: right!important;
}
.g-btn {
  display: inline-block;
  padding: 4px 12px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  font-size: 14px;
  color: #666;
  border: 1px solid #bbb;
  border-color: #bcbcbc #bcbcbc #bbb #bbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #eeeeee));
}
.s-btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 26px;
  height: 28px;
  background: #ff8400;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 10px;
  color: #fff;
}
.y-btn {
  display: block;
  height: 43px;
  box-sizing: border-box;
  padding: 0 15px;
  border: none;
  border-radius: 2px;
  background: #ff8400;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 43px;
}
.n-btn {
  cursor: default;
  display: block;
  box-sizing: border-box;
  padding: 0 15px;
  height: 43px;
  border: none;
  border-radius: 2px;
  background: #aaa;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 43px;
}
.o-btn {
  margin-right: 8px;
  display: block;
  line-height: 45px;
  height: 45px;
  background: #ff8400;
  text-align: center;
  color: #fff;
  font-family: "Microsoft YaHei";
  padding: 0 20px;
  border-radius: 5px;
  font-size: 20px;
}
.r-btn {
  display: block;
  height: 43px;
  box-sizing: border-box;
  padding: 0 15px;
  border: none;
  border-radius: 2px;
  background: #da4c39;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 43px;
}
h5 {
  font-size: 14px;
  color: #323232;
  margin: 10px;
  font-weight: normal;
}
.Fix {
  zoom: 1;
}
.arrow-ent {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 22px;
  right: 10px;
  border-right: 2px solid #88837d;
  border-bottom: 2px solid #88837d;
  cursor: pointer;
}
.arrow-ent.up {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
}
.arrow-ent.right {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}
.arrow-ent.d {
  top: 20px;
}
header {
  position: relative;
  background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  text-align: center;
  border-bottom: solid 1px #ff8400;
  box-sizing: border-box;
  color: #323232;
  height: 44px;
  line-height: 44px;
}
header .header-icon {
  position: absolute;
  top: 10px;
  width: 25px;
  height: 25px;
  background: url(img/headicon.png) no-repeat;
  background-size: 25px auto;
}
header .left-icon {
  left: 0;
  margin-left: 12px;
}
header .right-icon {
  right: 0;
  margin-right: 8px;
}
header .right-icon-2 {
  right: 60px;
}
header .back-icon {
  top: 8px;
  width: auto;
  height: 28px;
  margin-left: 30px;
  padding: 0 15px 0 1px;
  border-radius: 2px;
  background: #ff9c00;
  color: #fff;
  font-size: 13px;
  line-height: 28px;
}
header .back-icon .caret {
  display: block;
  position: absolute;
  top: 0px;
  left: -18px;
  width: 19px;
  height: 28px;
  overflow: hidden;
}
header .back-icon .caret::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 6px;
  display: block;
  width: 26px;
  height: 28px;
  border: 0 none;
  background: #ff9c00;
  -webkit-transform: rotate(45deg);
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 12px;
  -webkit-border-top-left-radius: 12px;
  -moz-border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 12px;
  -moz-border-top-left-radius: 12px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
}
header .fork {
  background-position: 0px -54px;
  height: 22px;
}
header .collect {
  background-position: 0px -53px;
  height: 23px;
}
header .rotate {
  background-position: 0 -25px;
}
header .search-box {
  width: 210px;
  height: 30px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  text-indent: 5px;
}
header .header-title {
  display: inline-block;
  margin-left: -25px;
  font-size: 18px;
  font-family: HiraginoSansGB;
}
header .city-select {
  margin-left: 7px;
}
header .city-select .current {
  color: #ff8400;
  font-size: 16px;
  line-height: 30px;
  background: url(img/headicon.png) no-repeat;
  background-size: 25px auto;
  background-position: right -166px;
  padding-right: 22px;
}
header .search {
  box-sizing: border-box;
  width: 233px;
  height: 30px;
  line-height: 30px;
  margin-right: 7px;
  padding: 0 0 0 25px;
  border-radius: 6px;
  background: url(img/headicon.png) no-repeat;
  background-size: 25px auto;
  background-position: 8px -177px;
  background-color: #fff;
  font-size: 16px;
}
header.orange {
  background: #ff8840;
  color: #fff;
}
.Content {
  position: absolute;
  top: 44px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.height-box {
  height: 30px;
}
.hide {
  display: none !important;
}
.M_page {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.M_page_transform {
  -webkit-transform: translate(100%, 0);
}
.M_menu_switching {
  position: absolute;
  top: 0;
  height: 100%;
}
.PullDown {
  background: #fff;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  background: url(img/repeat-x.png) repeat-x;
  background-size: 25px auto;
  background-position: 0px bottom;
  font-weight: bold;
  font-size: 14px;
  color: #888;
}
.PullDown .PullDownIcon {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: url(img/pull.png) 0 0 no-repeat;
  -webkit-background-size: 40px 80px;
  background-size: 40px 80px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
  -webkit-transform: rotate(0deg) translateZ(0);
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
.flip .PullDownIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}
.loading .PullDownIcon {
  background-position: 0 100%;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation: loading 2s infinite linear;
}
.Loading {
  width: 120px;
  height: 80px;
  background-size: 24px 24px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -60px;
  border-radius: 5px;
  z-index: 9999999;
}
.Loading i {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  -webkit-animation: loading 1s infinite linear;
  background: url(img/loading.png) 0 0 no-repeat;
  background-size: 20px 20px;
}
.deallist {
  font-size: 12px;
  padding-left: 12px;
  width: 100%;
  -webkit-box-sizing: border-box;
  background-color: #fff;
}
.deallist a {
  color: #878787;
  display: block;
  padding: 10px 10px 10px 112px;
  position: relative;
  background: url(img/repeat-x.png) repeat-x;
  background-size: 25px auto;
  background-position: 0px bottom;
}
.deallist a:active {
  background-color: #efefef;
}
.deallist .img {
  width: 105px;
  height: 65px;
  position: absolute;
  left: 0;
  top: 10px;
}
.deallist h3 {
  color: #303030;
  font-size: 16px;
  margin-bottom: 5px;
}
.deallist .price-o {
  text-decoration: line-through;
}
.deallist .price-c {
  color: #ff8400;
  font-size: 20px;
  margin-right: 5px;
}
.deallist .distance {
  margin-top: 8px;
}
.deallist .distance,
.deallist .place {
  float: right;
}
.deallist .before {
  text-align: center;
  height: 100%;
  font-size: 14px;
  padding: 50% 0;
}
.deallist .yuyue,
.deallist .xindan,
.deallist .jijiangkaishi,
.deallist .maiguang,
.deallist .jieshu {
  background: url(img/tag.png) no-repeat 0 0;
  background-size: 225px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 10px;
}
.deallist .yuyue {
  background-position: 0 0;
}
.deallist .xindan {
  background-position: -175px 0;
}
.deallist .jijiangkaishi {
  background-position: -130px 0;
}
.deallist .maiguang {
  background-position: -44px 0;
}
.deallist .jieshu {
  background-position: -89px 0;
}
.btn-link {
  display: block;
  margin: 0 12px 15px;
  border: 1px solid #d3d3d3;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 2%, #f5f5f5 3%, #efefef 100%);
  border-radius: 3px;
  color: #6c6c6c;
  line-height: 35px;
  text-align: center;
}
.detail-list {
  font-size: 13px;
}
.detail-list .title {
  padding: 0 12px;
  border-bottom: 1px solid #d0d0d0;
  background: #ededed;
  color: #323232;
  line-height: 22px;
}
.detail-list .title span {
  color: #ff8400;
}
.detail-list .con {
  padding: 10px 12px;
  line-height: 20px;
}
.detail-list .con.more {
  padding: 0;
}
.detail-list .con.more a {
  display: block;
  padding: 0 12px;
  border-bottom: 1px solid #ebebeb;
  color: #323232;
  line-height: 43px;
}
.detail-list .con.red {
  color: #f00;
}
.overlay {
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #000000;
  z-index: 9998;
  zoom: 1;
  opacity: 0.2;
  position: fixed;
  visibility: visible;
}
.pop-box {
  position: fixed;
  z-index: 9999;
  top: 38%;
  left: 50%;
  width: 120px;
  margin-left: -70px;
  padding: 12px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;
  opacity: 0.9;
}
.pop-box .pop-close {
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 6px;
  font-size: 12px;
  display: block;
  width: 14px;
  height: 14px;
  overflow: hidden;
  cursor: pointer;
  background-position: -100px 0;
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  line-height: 15px;
}
.pop-box .pop-content {
  display: inline-block;
  width: 109px;
  text-align: center;
}
.navigator {
  background: #999;
  height: 30px;
  line-height: 30px;
  position: fixed;
  bottom: 0;
  z-index: 100000000;
  width: 100%;
  padding: 0 15px;
  box-shadow: #000000 0 -1px 3px 0px;
  box-sizing: border-box;
}
.navigator a {
  color: #fff;
}
.navigator .drop {
  background: url(img/headicon.png) no-repeat;
  background-size: 25px auto;
  background-position: -6px -208px;
  display: inline-block;
  width: 13px;
  height: 7px;
}
.indexlist {
  position: absolute;
  bottom: 30px;
  overflow: hidden;
  top: 38px;
  width: 100%;
}
.indexlist .more-loading {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}
.indexlist .on-loading {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  margin-top: 50px;
}
.indexlist.hassearch {
  top: 83px;
}
.nav {
  background: url(img/repeat-x.png) repeat-x;
  background-size: 25px auto;
  background-position: 0px bottom;
  position: relative;
  background-color: white;
  border-bottom: solid 1px #dcdcdc;
}
.nav .cat {
  height: 37px;
  line-height: 37px;
  font-size: 13px;
  border-bottom: solid 1px #ff8400;
}
.nav .cat .item {
  background: url(img/headicon.png) no-repeat;
  background-size: 25px auto;
  background-position: right -233px;
  float: left;
  width: 35%;
  text-align: center;
  position: relative;
}
.nav .cat .item.last {
  background: none;
  width: 30%;
}
.nav .cat .item.on {
  color: #e28623;
}
.nav .cat .item.on .arrow {
  display: block;
}
.nav .cat .drop {
  background: url(img/headicon.png) no-repeat;
  background-size: 25px auto;
  background-position: -6px -208px;
  display: inline-block;
  width: 13px;
  height: 7px;
}
.nav .selector {
  color: #323232;
  font-size: 14px;
  position: absolute;
  width: auto;
  z-index: 100;
  background-color: #f5f5f5;
  top: 37px;
  width: 100%;
  font-size: 13px;
  overflow: hidden;
}
.nav .selector .num {
  color: #878787;
  float: right;
}
.nav .selector a {
  display: block;
  color: #323232;
  zoom: 1;
}
.nav .main {
  width: 45%;
  position: relative;
  background: url(img/repeat-x.png) repeat-x;
  background-size: 25px auto;
  background-position: 0px bottom;
}
.nav .main.full {
  width: 100%;
}
.nav .main,
.nav .sub {
  overflow: hidden;
  height: 100%;
}
.nav .main li {
  height: 37px;
  line-height: 37px;
  padding: 0 23px 0 23px;
  background: url(img/repeat-x.png) repeat-x;
  background-size: 25px auto;
  background-position: 0px bottom;
}
.nav .main li.on {
  background-color: #fff;
  border-left: 4px solid #ff8400;
  padding-left: 19px;
}
.nav .sub {
  background: url(img/repeat-x.png) repeat-x;
  background-size: 25px auto;
  background-position: 0px bottom;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 55%;
  height: 100%;
}
.nav .sub li {
  padding: 0 10px 0 18px;
  height: 37px;
  line-height: 37px;
  position: relative;
}
.search_inner {
  width: 100%;
  transition: width 0.5s;
  padding-left: 10px;
  box-sizing: border-box;
}
.search_inner.float {
  width: 80%;
}
.search_inner.float .cancel {
  opacity: 1;
}
.search_inner .search_box {
  width: 100%;
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  border: none;
  z-index: 2;
  background: url(img/search.png) #ffffff no-repeat 5px 3px;
  background-size: 22px 22px;
}
.search_inner .cancel {
  position: absolute;
  right: 15px;
  z-index: 1;
  transition: opacity 0.5s;
  opacity: 0;
}
.section {
  padding: 10px;
  overflow: hidden;
  zoom: 1;
  font-size: 14px;
}
.header {
  background-color: #f5f5f5;
  text-align: center;
  border-bottom: solid 1px #ff8400;
  box-sizing: border-box;
  color: #323232;
  height: 44px;
  line-height: 44px;
}
.detailcont {
  position: absolute;
  top: 44px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.detail-main .buy-box {
  border-top: none;
  border-bottom: 1px solid #ff8400;
}
.deal-img {
  position: relative;
}
.deal-img .title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  opacity: 0.8;
}
.deal-img .title h3 {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
}
.detail-shop .shop-info {
  border-top: 1px dashed #aaa;
  border-bottom: none;
}
.buy-info {
  padding: 9px 12px;
}
.buy-info li {
  float: left;
  width: 50%;
  color: #999;
  font-size: 13px;
  line-height: 25px;
}
.buy-info li i {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background: url(img/headicon.png) no-repeat;
  background-size: 25px auto;
}
.buy-info li .icon-y {
  background-position: 0 -275px;
}
.buy-info li .icon-n {
  background-position: 0 -295px;
}
.buy-box {
  padding: 10px;
  border-top: 1px solid #ff8400;
}
.buy-box .price {
  margin-right: 5px;
  font-size: 26px;
  color: #ff8400;
  line-height: 43px;
}
.buy-box .old-price {
  font-size: 10px;
  color: #878787;
  text-decoration: line-through;
}
.detail-price {
  color: #ff8400;
}
.shop-info {
  margin: 0 12px;
  padding: 10px 0;
  border-bottom: 1px dashed #aaa;
}
.shop-info .title {
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
}
.shop-info .cont {
  position: relative;
  padding-right: 60px;
}
.shop-info .cont .cont-l {
  border-right: 1px solid #d0d0d0;
  line-height: 20px;
}
.shop-info .cont .cont-l li {
  color: #999;
  font-size: 13px;
}
.shop-info .cont .cont-l li .rank {
  display: block;
  width: 85px;
  height: 16px;
  margin: 2px 0;
  background: url(img/remark.png) no-repeat;
}
.shop-info .cont .cont-l li .rank-0 {
  background-position: 0 -90px;
}
.shop-info .cont .cont-l li .rank-5 {
  background-position: 0 -150px;
}
.shop-info .cont .cont-l li .rank-10 {
  background-position: 0 -72px;
}
.shop-info .cont .cont-l li .rank-20 {
  background-position: 0 -54px;
}
.shop-info .cont .cont-l li .rank-30 {
  background-position: 0 -36px;
}
.shop-info .cont .cont-l li .rank-35 {
  background-position: 0 -130px;
}
.shop-info .cont .cont-l li .rank-40 {
  background-position: 0 -18px;
}
.shop-info .cont .cont-l li .rank-45 {
  background-position: 0 -110px;
}
.shop-info .cont .cont-l li .rank-50 {
  background-position: 0 0;
}
.shop-info .cont .call {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 58px;
}
.shop-info .cont .call .icon-call {
  display: block;
  width: 24px;
  height: 24px;
  margin: 17px auto 0;
  background: url(img/headicon.png) no-repeat;
  background-size: 25px auto;
  background-position: 0 -117px;
}
.shop-list {
  position: absolute;
  top: 44px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.detailmorecont {
  position: absolute;
  top: 44px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.buy-box-top .buy-box {
  border-top: none;
  border-bottom: 1px solid #ff8400;
}
.detail-more {
  padding: 0 10px;
  font-size: 13px;
}
.detail-more .item {
  margin-top: 20px;
}
.detail-more img {
  width: 100%;
  height: auto;
}
.order-box {
  overflow: hidden;
  zoom: 1;
  background-color: #fff;
}
.order-box.no-p li {
  padding: 0;
}
.order-box.order-info {
  border-bottom: solid 1px #ff8800;
}
.order-box ul {
  padding: 0 15px 0 10px;
}
.order-box li {
  padding: 10px 0;
  margin-top: -1px;
  border-top: 1px solid #d0d0d0;
  color: #828282;
  font-size: 14px;
  line-height: 28px;
}
.order-box li.no-p {
  padding: 0px;
}
.order-box li .err {
  color: #c00;
}
.order-box li .infor {
  color: #323232;
}
.order-box li .mes {
  color: #323232;
}
.order-box li .o-alert {
  color: red;
  margin-top: -8px;
}
.order-box li.refund {
  padding: 5px 0;
}
.order-box .price {
  color: #ff6600;
}
.order-box .item-cls a:visited {
  color: #5B6ADD;
}
.test-input {
  border: 0 none;
  height: 28px;
  line-height: normal;
  padding: 0 3px;
  min-width: 90%;
}
.radio-input {
  float: right;
  margin-top: 7px;
}
.nolog-input {
  height: 24px;
  line-height: 24px;
  border: 0;
  color: #323232;
  width: 100px;
}
.s-input {
  margin: 0 5px;
  padding: 5px;
  background: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 1px 1px 0 0 #d9d9d9 inset;
  -webkit-box-shadow: 1px 1px 0 0 #d9d9d9 inset;
  box-shadow: 1px 1px 0 0 #d9d9d9 inset;
  border: 1px solid #ccc;
  width: 52px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
}
.phone-input {
  padding: 2px 5px;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 0 0 #d9d9d9 inset;
  -webkit-box-shadow: 1px 1px 0 0 #d9d9d9 inset;
  box-shadow: 1px 1px 0 0 #d9d9d9 inset;
  border: 1px solid #adadad;
  width: 98px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
}
.f-input {
  padding: 5px 10px;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 0 0 #d9d9d9 inset;
  -webkit-box-shadow: 1px 1px 0 0 #d9d9d9 inset;
  box-shadow: 1px 1px 0 0 #d9d9d9 inset;
  border: 1px solid #adadad;
  width: auto;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
}
.test-select {
  width: 100%;
}
.J_content {
  position: absolute;
  top: 44px;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  background-color: #fbfbfb;
}
.Box {
  margin-bottom: 15px;
}
.nom-box {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d0d0d0;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.nom-box img {
  width: 100%;
}
.nom-box .nom-infor {
  color: #828282;
  line-height: 21px;
  font-size: 14px;
}
.tip {
  color: #828282;
}
.order-list {
  border: 1px solid #d0d0d0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  zoom: 1;
  background-color: #fff;
}
.order-list .icon-e {
  background-position: -22px 9px;
}
.order-list li {
  padding: 10px;
  margin-top: -1px;
  border-top: 1px solid #d0d0d0;
  color: #828282;
  font-size: 14px;
  line-height: 28px;
}
.order-list .infor {
  color: #323232;
  width: 80%;
}
.order-list .price {
  color: #ff6600;
}
.item-cls a:visited {
  color: #5B6ADD;
}
.num-operating {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  *margin-right: 3px;
  vertical-align: middle;
  position: relative;
  font-size: 26px;
  width: 50px;
  height: 30px;
  line-height: 26px;
  background-color: #909090;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
}
.support {
  position: relative;
  padding: 0 20px 0 0;
  line-height: 28px;
  color: #828282;
  font-size: 14px;
}
.icon-s,
.icon-e {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 0px;
  background: url(img/headicon.png) no-repeat;
  background-size: 25px auto;
}
.icon-e {
  background-position: 0 -295px;
}
.icon-s {
  background-position: 0 -275px;
}
.order-box li a.fill {
  display: block;
  padding: 10px 15px 10px 0;
  position: relative;
  color: #323232;
  overflow: auto;
}
.order-box li a.fill.arrow {
  padding-right: 35px;
}
.order-box li a.fill .arrow-pos {
  top: 19px;
  right: 15px;
}
.order-box li a.fill.unable {
  cursor: default;
}
.order-box li .item {
  color: #323232;
  padding: 10px 35px 10px 10px;
}
.order-box li .infor {
  color: #323232;
}
.order-box .deal-recom-tit {
  margin-bottom: 0px;
  color: #F1530E;
}
.order-box .deal-recom-title {
  float: left;
  width: 161px;
  line-height: 22px;
}
.order-box .deal-recom-buy {
  height: 22px;
  line-height: 22px;
}
.pay_weixin_icon {
  background: url(img/pay_weixin_icon.png) no-repeat;
  width: 20px;
  height: 20px;
  background-size: 100%;
  position: absolute;
  top: 14px;
  right: 9px;
}
.ordercontent {
  padding: 10px;
}
.order-list {
  border: 1px solid #d0d0d0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  zoom: 1;
  background-color: #fff;
}
.order-list li {
  padding: 10px;
  margin-top: -1px;
  border-top: 1px solid #d0d0d0;
  color: #828282;
  font-size: 14px;
  line-height: 28px;
}
.order-list .infor {
  color: #323232;
  width: 80%;
}
.order-list .price {
  color: #f60;
}
.suc-box {
  padding: 50px 30px;
  text-align: center;
}
.suc-box .tit {
  color: #303030;
  font-size: 20px;
  font-weight: bold;
}
.suc-box .icon-suc,
.suc-box .icon-err {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 40px;
  background-image: url(img/pay.png);
  background-repeat: no-repeat;
  background-size: 80px auto;
}
.suc-box .icon-suc {
  background-position: 6px 3px;
}
.suc-box .icon-err {
  background-position: -38px 3px;
}
.suc-box .tip {
  color: #828282;
  word-break: break-all;
}
.package-list {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  overflow: hidden;
  zoom: 1;
  background-color: #fff;
}
.package-list li {
  margin-top: -1px;
  border-top: 1px solid #d0d0d0;
  color: #828282;
  font-size: 14px;
  line-height: 28px;
  margin-left: 15px;
}
.package-list li a {
  display: block;
  padding: 10px 35px 10px 0;
  position: relative;
  color: #323232;
  overflow: auto;
}
.package-list .arrow-ent {
  right: 15px;
  top: 20px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  width: 8px;
  height: 8px;
  position: absolute;
  border-right: 2px solid #88837d;
  border-bottom: 2px solid #88837d;
  cursor: pointer;
}
.list-tab td {
  padding-bottom: 10px;
}
.list-tab .t {
  color: #828282;
  width: 90px;
  text-align: right;
}
.receipt-list {
  position: absolute;
  top: 45px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.receipt-list .item {
  display: block;
  overflow: hidden;
  margin: 0 15px;
  padding: 8px 0;
  border-bottom: 1px solid #c7c7c7;
  color: #333;
}
.receipt-list .item .remain {
  position: absolute;
  top: 4px;
  left: 0;
  width: 65px;
  margin-right: 5px;
  padding: 3px 0;
  border-top: 12px solid #ff8400;
  border-radius: 2px;
  background: #eaeaea;
  color: #999;
  font-size: 13px;
  text-align: center;
}
.receipt-list .item .remain .day {
  display: block;
}
.receipt-list .item .remain .day strong {
  font-size: 18px;
  font-weight: normal;
}
.receipt-list .item .info {
  line-height: 28px;
}
.receipt-list .item .info .title {
  font-size: 15px;
  font-weight: normal;
}
.receipt-list .item .info p {
  font-size: 13px;
}
.receipt-list .item .info p .num {
  color: #ff8400;
}
.receipt-list .item .info p.expire {
  color: #999;
}
.receipt-list .item.unused {
  position: relative;
  padding: 4px 0 4px 70px;
}
.receipt-list .item.unused .info {
  line-height: 20px;
}
.receipt-list .msg {
  padding: 10px;
  text-align: center;
}
.receipt-detailcont {
  position: absolute;
  top: 44px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.receipt-detail {
  margin-bottom: 10px;
  padding: 12px 12px 0;
  color: #999;
  font-size: 13px;
}
.receipt-detail .info {
  display: block;
  position: relative;
  height: 65px;
  padding: 0 20px 15px 116px;
  margin-bottom: 15px;
  border-bottom: dashed 1px #dbdbdb;
  color: #333;
}
.receipt-detail .info img {
  position: absolute;
  top: 0;
  left: 0;
  width: 104px;
  height: 65px;
}
.receipt-detail .info .title {
  font-size: 15px;
  line-height: 20px;
}
.receipt-detail .info .arrow-ent {
  right: 5px;
  top: 28px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  width: 8px;
  height: 8px;
  position: absolute;
  border-right: 2px solid #88837d;
  border-bottom: 2px solid #88837d;
  cursor: pointer;
}
.receipt-detail .num {
  display: block;
  color: #ff8400;
  font-size: 24px;
}
.receipt-detail .num.disabled {
  color: #999;
}
.receipt-detail .expire {
  padding-bottom: 5px;
  border-bottom: 1px dashed #c5c5c5;
}
.receipt-detail .tg-btn {
  margin: 10px 0 0 0;
}
.receipt-shop .shop-info {
  border-bottom: none;
}
.receipt-detail-extra {
  padding-bottom: 20px;
}
.receipt-detail-extra .J-detail-more {
  display: none;
}
.coupon-list {
  position: absolute;
  top: 45px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.coupon-list li {
  padding: 10px 0 10px 10px;
  border-bottom: solid 1px #dbdbdb;
  position: relative;
}
.coupon-list .coupon_bg {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 10px;
  background: url(img/coupon.png) no-repeat;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}
.coupon-list .coupon_link {
  padding-left: 70px;
  display: block;
  height: 60px;
  vertical-align: middle;
  display: table-cell;
}
.coupon-list .coupon_link .title {
  color: #323232;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
.coupon-list .coupon_link .coupon_time {
  color: #909090;
  font-size: 14px;
}
.account_info {
  position: relative;
  min-height: 140px;
  margin-bottom: 20px;
}
.account_info .info_area {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  padding-left: 15px;
}
.account_info .name {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #323232;
}
.account_info .rest {
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  color: #878787;
}
.city_letter {
  position: fixed;
  right: 0;
  top: 50px;
  text-align: center;
  background-color: #fff;
  line-height: 13px;
}
.city_letter a {
  color: #007aff;
  font-size: 12px;
}
.city_list dl {
  border-top: solid 1px #c8c8c8;
}
.city_list dt {
  background-color: #f5f5f5;
  height: 40px;
  line-height: 40px;
  color: #878787;
  padding-left: 15px;
}
.city_list dd {
  padding-left: 15px;
}
.city_list dd a {
  color: #595959;
  display: block;
  height: 43px;
  line-height: 43px;
  border-bottom: solid 1px #c8c8c8;
}
.city_list dd:last-child a {
  border-bottom: none;
}
